.white{
    border-radius: 5px;
    border-color: azure;
    background-color: azure;
    color: black;
    border-style: solid;
    font-style: italic;
}
.yellow{
    border-radius: 5px;
    background-color: yellow;
    border-color: yellow;
    color: black;
    border-style: solid;
    font-style: italic;
}
#signInDiv{
    padding-right: 50px;
    height: 100%;
}

body{
    background-image:url(homeback.PNG);
    background-size: 1300px;
    background-attachment: fixed;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: beige;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    color:rgb(15, 0, 0);
}

small{
    font-family: 'Poppins', sans-serif;
    padding-left: 300px;
    color: bisque;
    font-style: italic;
}

button{
    background-color: bisque;
}
.title{
    color: rgb(255, 239, 15);
}

.gold{
    border-radius: 5px;
    border-color: rgb(255, 239, 15);
    background-color: rgb(255, 239, 15);
    color: black;
    border-style: solid;
    font-style: italic;
}

.remember{
    color: bisque;
    font-size: 25px;
}

.morePadding{
    padding-left: 430px;
}