.white{
    border-radius: 5px;
    border-color: azure;
    background-color: azure;
    color: black;
    border-style: solid;
    font-style: italic;
}
.yellow{
    border-radius: 5px;
    background-color: yellow;
    border-color: yellow;
    color: black;
    border-style: solid;
    font-style: italic;
}
#signInDiv{
    padding-right: 50px;
    height: 100%;
}

body{
    background-image:url(homeback.PNG);
    background-size: cover;
    background-attachment: fixed;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 50px;
    color:rgb(230, 252, 172);
}

button{
    background-color: bisque;
}
.title{
    color: rgb(255, 239, 15);
}

.gold{
    border-radius: 5px;
    border-color: rgb(255, 239, 15);
    background-color: rgb(255, 239, 15);
    color: black;
    border-style: solid;
    font-style: italic;
}

.remember{
    color: bisque;
    font-size: 22px;
    font-weight: bold;
}
.ask{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    color:rgb(230, 252, 172);
    text-align: center;
    font-style: italic;
}

.theHeader{
    font-family: 'Archivo Black', sans-serif;
    color: beige;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}