.white{
    border-radius: 5px;
    border-color: lightgray;
    border-style: solid;
    font-style: italic;
}
.yellow{
    border-radius: 5px;
    border-color: yellow;
    border-style: solid;
    font-style: italic;
}
.desc{
    font-size: 20px;
}
#signInDiv{
    padding: 0 0;
    height: 100%;
}
canvas{
    border-style: solid;
    width:100%;
}
[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
  font-style:italic;
}

[contentEditable=true]{
    height: 90vh;
   overflow-y: scroll;
}